body {
    margin: 0;
    padding: 0;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(52, 52, 52);
    color: white;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    
}

#title-name {
    margin-left: 25px;
    font-size: 30px;
    margin-top: 25px;
}

#links {
    color: white;
    font-size: 20px;
    margin-top: 30;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin-left: 25px;
}

#socials {
    position: absolute;
    right: 20px;
    margin-top: 11.25px;
}

.social-logo {
    height: 35px;
    width: auto;
    margin-left: 20px;
}