.center {
    text-align: center;
}

#control-panel {
    margin-top: 50px;
}

select {
    height: 30px;
}

button {
    height: 30px;
    background-color: lightgreen;
    border: 1px solid gray;
    border-radius: 3px;
}

button:active{
    background-color: rgb(100, 238, 100);
}

#array {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.array-element {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 60px;
    width: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}

.array-element:first-child {
    border-left: 2px solid black;
}

.array-element:last-child {
    border-right: 2px solid black;
}