.center {
    text-align: center;
}

#control-panel {
    margin-top: 50px;
}

select {
    height: 30px;
}

button {
    height: 30px;
    background-color: lightgreen;
    border: 1px solid gray;
    border-radius: 3px;
}

button:active{
    background-color: rgb(100, 238, 100);
}

#array {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid rgb(52, 52, 52);
    width: 620px;
    height: 62px;
}

.array-element {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(52, 52, 52);
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    line-height: 60px;
}

#time-complexity {
    margin-top: 74px;
    margin-left: calc(50% - 360px);

}

#y-labels {
    display: inline-block;
    /* border: 1px solid black; */
    width: 50px;
    height: 310px;
    line-height: 31px;
    text-align: right;
    vertical-align: top;
}

#graph {
    /* margin-left: calc(50% - 310px); */
    width: 620px;
    height: 310px;
    background-color: rgb(52, 52, 52);
}