.center {
    text-align: center;
}

#control-panel {
    margin-top: 50px;
}

select {
    height: 30px;
}

button {
    height: 30px;
    background-color: lightgreen;
    border: 1px solid gray;
    border-radius: 3px;
}

button:active{
    background-color: rgb(100, 238, 100);
}

#array {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
    width: 620px;
    height: 62px;
}

.array-element {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}

@keyframes swapforwards {
    0% {
        top: 0px;
        left: 0px
    }
    33% {
        top: 80px;
        left: 0px;
    }
    66% {
        top: 80px;
        left: 62px;
    }
    100% {
        top: 0px;
        left: 62px;
    }
}

@keyframes swapBackwards {
    
}